body {

    font-family: 'Rock Salt', cursive;
}

#subheader {

    color: 	#FFB6C1;
    padding-left: 15%;
    top: -120px;
    position: relative;
}

.instructions {

    font-family: 'Chakra Petch', sans-serif;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 150%;
    position: relative;
    top: -100px;
    text-align: justify;

}

/* Div */
.container { 

    background-color: white;
    opacity: 0.9;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    padding-bottom: -60px;
}

/* Pics */

.logo {
    
    height: 300px;
    padding-right: 100%;
    margin-left: 1%;
    padding-top: 1%;
    
}

.homerdonut {

    float: right;
    top: -300px;
    position: relative;
    margin-right: 2%;
}

.donutchoice1 {

    height: 100px;
    width: 100px;
    padding-right: 3%;    
    padding-left: 2%;
    top: 30%;
}

.donutchoice1:hover {

    opacity: 0.5;
    filter: alpha(opacity=50);
}

.donutchoice2 {

    height: 100px;
    width: 100px;
    padding-right: 3%;
    
}

.donutchoice2:hover {

    opacity: 0.5;
    filter: alpha(opacity=50);
}

.donutchoice3 {

    height: 100px;
    width: 100px;
    padding-right: 3%;
    
}

.donutchoice3:hover {

    opacity: 0.5;
    filter: alpha(opacity=50);
}

.donutchoice4 {

    height: 100px;
    width: 100px;
    position: absolute;
}

.donutchoice4:hover {

    opacity: 0.5;
    filter: alpha(opacity=50);
}

.maggie {

    float: right;
    top: -100px;
    position: relative;
    margin-right: 2%;
    height: 200px;
    
}

h3 {

    color: salmon;
    padding-left: 5%;
}

.randomnumber {
    bottom:-78px;
    position: absolute;
    padding-left: 3%;
    float: left;
    padding-bottom: 5%;
}

.score {

    float: right;
    position: relative;
    top: -180px;
    margin-right: 130px;
}

.wins {
    color: salmon;
    clear: both;
    bottom:-70px;
    position: absolute;
    padding-left: 3%;
    float: left;
}

.losses {
    color: salmon;
    float: right;
    position: relative;
    top: -255px;
    margin-right: 340px;
    clear: both;
}

#donuts {

    clear: both;
    position: relative;
    top: -200px;
    
}

/* Random Number & Scores & Win/Lose */

#randomplace {

    color: cornflowerblue;
    font-size: 20px;
    bottom:85px;
    margin-left: 5%;
    padding-bottom: 1%;
    position: relative;
    left: 130px;
    
}

#scoreplace {

    color: cornflowerblue;
    font-size: 20px;
    float: right;
    margin-right: -25%;
    bottom: 180px;
    position: relative;

}

#winsplace {

    color: cornflowerblue;
    font-size: 20px;
    bottom:100px;
    margin-left: 5%;
    position: relative;
    left: 130px;
}

#lossesplace {

    color: cornflowerblue;
    font-size: 20px;
    float: right;
    margin-right: -25%;
    bottom: 255px;
    position: relative;   
}
